<h3>Editar Contato</h3>
<form name="contatoForm">
	<input class="form-control" type="text" name='nome' ng-model="contato.nome" placeholder="Nome:" ng-required="true" ng-minlength="10" />
	<input class="form-control" type="text" name='telefone' ng-model="contato.telefone" placeholder="Telefone:" ng-required="true" 
		ng-pattern="/^\d{4,5}-\d{4}$/"/>
	<select class="form-control" name="operadora" ng-model="contato.operadora" 
	ng-options="operadora.nome group by operadora.categoria for operadora in operadoras track by operadora.id" ng-required="true">
		<option value="">Selecione uma operadora...</option>
	</select>
</form>

<div class="alert alert-danger" ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty">
	Por favor, preencha o nome.
</div>

<div class="alert alert-info" ng-show="contatoForm.nome.$error.minlength">
	Por favor, preencha o nome com no minimo 10 letras.
</div>

<div class="alert alert-danger"  ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty">
	Por Favor preencha o telefone.
</div>

<div class="alert alert-info"  ng-show="contatoForm.telefone.$error.pattern">
	Por Favor preencha o telefone com o seguinte formato DDDDD-DDDD.
</div>


<div class="alert alert-danger"  ng-show="contatoForm.operadora.$invalid && contatoForm.operadora.$dirty">
	Por Favor escolha uma operadora.
</div>

<button class="btn btn-primary btn-block" ng-click="editarContato(contato);" ng-disabled="contatoForm.$invalid">Editar Contato</button>
<div ng-include="'views/includes/botoes-nav.html'"></div>