<h3>Adicionar Operadora</h3>

<input type="text" name="nome" ng-model="operadora.nome" class="form-control" placeholder="Nome:">
<input type="text" name="numero" ng-model="operadora.numero" class="form-control" placeholder="Numero:">
<input type="text" name="numero" ng-model="operadora.categoria" class="form-control" placeholder="Categoria:">

<button class="btn btn-primary btn-block" ng-click="adicionarOperadora(operadora)">Editar Operadora</button>
<div ng-include="'views/includes/botoes-nav.html'"></div>